{% extends 'base.html' %}

{% block titulo %}
DetalhesFilmes
{% endblock %}

{% block content %}
<div class="py-20">

	<h1>Detalhes do filme: {{ object.titulo }}</h1>
	<p>{{ object }}</p>
	<p>{{ object.descricao }}</p>
	<p>Visualizações: {{ object.visualisacoes }}</p>
	<img src="{{ object.thumb.url }}">

	<h1>Episodios:</h1>
	{% for episodio in object.episodios.all %}
		<P>Episodio{{ forloop.counter }}: <a href="{{episodio.video}}">{{ episodio.titulo }}</a> </P>
	{% endfor %}
</div>
<div class="py=10">
	<h1>Relacionados</h1>
	{% for filme in filmes_relacionados %}
	<p>
		<a href="{% url 'filme:detalhesfilme' filme.id %}">{{ filme.titulo }}</a>
	</p>
	{% endfor %}
</div>

{% endblock %}