{% extends 'base.html' %}

{% block titulo %}
HomeFilmes Hashflix
{% endblock %}

{% block content %}
<div class="py-20">
	<h1>Lista de filmes</h1>

	{% for filme in object_list %}
	<hr>
	<a href="{% url 'filme:detalhesfilme' filme.pk %}"><p>{{ filme.titulo }}</p></a>
	<p>{{filme.descricao}}</p>
	<img src="{{filme.thumb.url}}">
	{% endfor %}

</div>

<div class="py-10 px-1">
	<h2>Novos</h2>
	{{ lista_filmes_recentes }}
</div>

<div class="py-10 px-1">
	<h2>Em Alta</h2>
	{{ lista_filmes_popular }}
</div>


{% endblock %}